<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Liste des patients</title>
</head>
<body class="px-10">
<h1 class="text-2xl font-bold mb-4">Patients</h1>
<div class="flex justify-end mb-4">
    <a href="/patients/add"
       class="py-2 px-4 bg-green-500 text-white font-semibold rounded hover:bg-green-600 cursor-pointer flex items-center gap-2">
        <i class="fa-solid fa-plus"></i>
        Ajouter un patient
    </a>
</div>
<table class="table-auto border-collapse border border-gray-300 w-full">
    <thead class="bg-gray-100">
    <tr>
        <th class="border border-gray-300 px-4 py-2">Prénom</th>
        <th class="border border-gray-300 px-4 py-2">Nom</th>
        <th class="border border-gray-300 px-4 py-2">Date de naissance</th>
        <th class="border border-gray-300 px-4 py-2">Genre</th>
        <th class="border border-gray-300 px-4 py-2">Adresse postale</th>
        <th class="border border-gray-300 px-4 py-2">Numéro de téléphone</th>
        <th class="border border-gray-300 px-4 py-2">Notes</th>
        <th class="border border-gray-300 px-4 py-2">Niveau de risque</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${patients}" class="hover:bg-gray-50">
        <td class="border border-gray-300 px-4 py-2" th:text="${p.firstName}"></td>
        <td class="border border-gray-300 px-4 py-2" th:text="${p.lastName}"></td>
        <td class="border border-gray-300 px-4 py-2" th:text="${#temporals.format(p.birthdate, 'dd/MM/yyyy')}"></td>
        <td class="border border-gray-300 px-4 py-2" th:text="${p.gender}"></td>
        <td class="border border-gray-300 px-4 py-2" th:text="${p.address}"></td>
        <td class="border border-gray-300 px-4 py-2" th:text="${p.phone}"></td>

        <td class="border border-gray-300 px-4 py-2 text-center">
            <a th:href="@{/patients/{id}/notes(id=${p.id})}"
               class="py-2 px-5 bg-purple-500 text-white rounded hover:bg-purple-600 cursor-pointer flex items-center justify-center">
                <i class="fa-solid fa-notes-medical"></i>
            </a>
        </td>

        <td class="border border-gray-300 px-4 py-2 text-center">
            <span th:classappend="${p.riskClass}"
                  class="py-1 px-3 rounded-full font-semibold text-sm"
                  th:text="${p.riskLabel}">
            </span>
        </td>

        <td class="border border-gray-300 px-4 py-2 text-center">
            <div class="flex justify-center gap-2">
                <a th:href="@{/patients/edit/{id}(id=${p.id})}"
                   class="py-2 px-5 bg-blue-500 text-white rounded hover:bg-blue-600 cursor-pointer flex items-center justify-center">
                    <i class="fa-solid fa-pen"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
